@font-face {
    src: url('../../assets/fonts/Lato-Light.ttf');
    font-family: 'Lato-Light'
}

@font-face {
    src: url('../../assets/fonts/Lato-Regular.ttf');
    font-family: 'Lato-Regular'
}

@font-face {
    src: url('../../assets/fonts/Lato-LightItalic.ttf');
    font-family: 'Lato-LightItalic'
}

@font-face {
    src: url('../../assets/fonts/Lato-Italic.ttf');
    font-family: 'Lato-Italic'
}
