// COLORS
$color1 : rgba(173, 241, 255, 0.5);
$color2: rgb(16, 179, 212);
$color2-with-opacity:rgba(16, 179, 212, 0.600); 
$color3: rgb(147, 148, 147);
$color3-with-opacity: rgba(147, 148, 147, 0.600);

// FONTS
$light_font: 'Lato-Light';
$light_italic_font: 'Lato-LightItalic';
$regular_font: 'Lato-Regular';
$regular_italic_font: 'Lato-Italic';
